<div class="map">
  <iframe
  alt="Map image at coordinates {{@lat}},{{@lng}}"
  ...attributes
  src="https://maps.google.com/maps?q={{@lat}},{{@lng}}&z={{@zoom}}&amp;output=embed"
  width={{@width}} height={{@height}}
  >
  </iframe>
</div>
